# Environment
.env
.env.backup
.env.production

# Dependencies
vendor/
node_modules/

# Build output
build
dist
compiled
hot
/public/storage

# Logs
npm-debug.log
yarn-error.log

# Editors & OS
.idea
.vscode/
.DS_Store
Thumbs.db

# Local scratch files
test/
changes/
changes.php
check.cmd

pwa.php
scratchpad.txt
